Repository chemlynx/chemdataextractor2: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, radon-complexity, pytest-coverage

.pre-commit-config.yaml:

repos:
    # Ruff for linting and formatting
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.1.6
      hooks:
        - id: ruff
          args: [--fix, --exit-non-zero-on-fix]
        - id: ruff-format

    # MyPy for type checking
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.7.1
      hooks:
        - id: mypy
          additional_dependencies: [types-PyYAML, types-requests,
  types-python-dateutil]
          args: [--install-types, --non-interactive]
          exclude: ^(tests/|docs/)

    # Basic file checks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: debug-statements

    # Security checks
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.5
      hooks:
        - id: bandit
          args: [-c, pyproject.toml]
          additional_dependencies: ["bandit[toml]"]
          exclude: ^tests/

    # Dependency security
    - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
      rev: v1.3.2
      hooks:
        - id: python-safety-dependencies-check

    # Dead code detection (runs on changed files only)
    - repo: local
      hooks:
        - id: vulture
          name: vulture
          entry: vulture
          language: system
          types: [python]
          args: [--min-confidence=80]

    # Complexity checks
    - repo: local
      hooks:
        - id: radon-complexity
          name: radon complexity
          entry: radon
          language: system
          args: [cc, --min=B]
          types: [python]

    # Test coverage (only on test files)
    - repo: local
      hooks:
        - id: pytest-coverage
          name: pytest with coverage
          entry: pytest
          language: system
          args: [--cov=chemdataextractor, --cov-fail-under=80]
          files: ^tests/.*\.py$
          pass_filenames: false

feat: implement Phase 4-5 typing for critical infrastructure and advanced features
  chemdataextractor/doc/table.py
  chemdataextractor/model/base.py
  chemdataextractor/model/contextual_range.py
  chemdataextractor/model/units/dimension.py
  chemdataextractor/nlp/abbrev.py
  chemdataextractor/nlp/cem.py
  chemdataextractor/nlp/tag.py
  chemdataextractor/nlp/tokenize.py
  chemdataextractor/parse/actions.py
  chemdataextractor/parse/auto.py
  chemdataextractor/parse/cem.py
  chemdataextractor/parse/elements.py
  chemdataextractor/parse/quantity.py
  chemdataextractor/reader/markup.py
  chemdataextractor/relex/cluster.py
  chemdataextractor/relex/entity.py
  chemdataextractor/relex/pattern.py
  chemdataextractor/relex/snowball.py
  chemdataextractor/text/processors.py
  chemdataextractor/types.py
Due: vulture, radon-complexity

feat(regexes): String Operations Optimization with Pre-compiled Regex Patterns
  baseline_results.json
  benchmark_regex_performance.py
  benchmark_results.json
  benchmark_string_regex_performance.py
  chemdataextractor/nlp/tag.py
  chemdataextractor/nlp/tokenize.py
  chemdataextractor/parse/elements.py
  chemdataextractor/parse/quantity.py
  chemdataextractor/parse/regex_patterns.py
  chemdataextractor/text/normalize.py
  chemdataextractor/text/processors.py
  optimized_results.json
  phase2_baseline.json
  string_regex_baseline.json
  tests/test_string_regex_operations.py
  tests/test_text_processors_regex.py
  tests/test_tokenizer_regex_operations.py
Due: vulture, radon-complexity, pytest-coverage

feat: some performance optimization and fixed critical parsing bugs
  analyze_rsc_text.py
  chemdataextractor/doc/document.py
  chemdataextractor/doc/document_cacher.py
  chemdataextractor/doc/text.py
  chemdataextractor/model/base.py
  chemdataextractor/nlp/tokenize.py
  chemdataextractor/parse/mp_new.py
  chemdataextractor/parse/regex_patterns.py
  extract_rsc_article.py
  extract_rsc_configurable.py
  extract_rsc_quick.py
  extract_rsc_simple.py
  rsc_extraction_default_results.json
  rsc_extraction_summary.py
  tests/cas_example.py
  tests/test_doc_cache.py
  tests/test_nlp_tokenize.py
Due: vulture, radon-complexity, pytest-coverage

test(temp.py): temp python file created
  analyze_rsc_text.py
  chemdataextractor/doc/document.py
  chemdataextractor/doc/document_cacher.py
  chemdataextractor/doc/text.py
  chemdataextractor/model/base.py
  chemdataextractor/parse/regex_patterns.py
  extract_rsc_article.py
  extract_rsc_configurable.py
  extract_rsc_quick.py
  extract_rsc_simple.py
  rsc_extraction_summary.py
  temp.py
  tests/cas_example.py
  tests/test_doc_cache.py
  tests/test_nlp_tokenize.py
Due: vulture, radon-complexity, pytest-coverage

feat(pyproject.toml,-.python-version): migrate to Python 3.12 as default development runtime
  .python-version
  CLAUDE.md
  pyproject.toml
Due: none

feat: remove playsound dependency completely
  chemdataextractor/eval/evaluation.py
  chemdataextractor/eval/sound.mp3
  chemdataextractor/eval/sound_end.mp3
  chemdataextractor/relex/snowball.py
  requirements/development.txt
  uv.lock
Due: vulture, radon-complexity

fix(chemdataextractor/doc/text/py): fixed missing imports
  .gitignore
  chemdataextractor/doc/text.py
Due: vulture, radon-complexity

feat: comprehensive codebase cleanup and package release preparation v2.5.0-alpha
  .github/workflows/test-cde-windows.yml
  .github/workflows/test-cde.yml
  .readthedocs.yml
  CLAUDE.md
  README.md
  bandit-report.json
  baseline_results.json
  benchmark_results.json
  docs/Introduction.md
  docs/development/phase_1_progress.md
  docs/development/phase_2_completion_report.md
  docs/development/phase_3_4_completion_report.md
  docs/development/trigger_optimization_report.md
  docs/development/typing_issues_analysis.md
  docs/requirements.txt
  optimized_results.json
  phase2_baseline.json
  pyproject.toml
  requirements.txt
  requirements/development.txt
  requirements/production.txt
  rsc_extraction_default_results.json
  scripts/README.md
  scripts/benchmarks/benchmark_regex_performance.py
  scripts/benchmarks/benchmark_string_regex_performance.py
  scripts/benchmarks/benchmark_trigger_performance.py
  scripts/benchmarks/trigger_optimization_validation.json
  scripts/development/analyze_rsc_text.py
  scripts/development/count_mypy_errors.py
  scripts/development/debug_trigger_extraction.py
  scripts/development/validate_trigger_optimization.py
  scripts/examples/extract_rsc_article.py
  scripts/examples/extract_rsc_configurable.py
  scripts/examples/extract_rsc_quick.py
  scripts/examples/extract_rsc_simple.py
  scripts/examples/rsc_extraction_summary.py
  string_regex_baseline.json
  temp.py
Due: vulture, radon-complexity

feat: experimental scripts and bits & bobs
  =0.13.2
  =0.9.1
  chemdataextractor/data.py
  position_demo_output.json
  position_tracking_demo.json
  position_tracking_prototype.py
  position_tracking_summary.md
  scripts/examples/batch_extract_papers.py
  scripts/examples/extract_rsc_configurable.py
  tests/test_doc_cache.py
Due: vulture, radon-complexity, pytest-coverage

test: extra tests for refactoring of contextual merging
  reproduce_apparatus_bug.py
  test_merge_validation.py
  tests/test_merge_methods_comprehensive.py
Due: vulture, radon-complexity, pytest-coverage

feat: add built-in pre-abstract model restriction to prevent false compound extraction
  chemdataextractor/doc/document.py
  pre_abstract_restriction_usage.md
  tests/test_pre_abstract_restriction.py
Due: vulture, radon-complexity, pytest-coverage

fix: prevent H2O and common solvents from being extracted as apparatus
  chemdataextractor/parse/apparatus.py
  investigate_apparatus_bug.py
  reproduce_apparatus_bug.py
  test_h2o_apparatus_realistic.py
  test_h2o_bug_fix_verification.py
  test_h2o_bug_minimal.py
  test_real_world_h2o_bug.py
Due: vulture, radon-complexity

refactor: reduce complexity of BaseModel merge methods with comprehensive testing
  chemdataextractor/model/base.py
  test_merge_contextual_fix_verification.py
  test_merge_validation.py
  test_refactoring_validation.py
Due: vulture, radon-complexity

feat: comprehensive enhancements and development tools
  chemdataextractor/data.py
  chemdataextractor/eval/evaluation.py
  chemdataextractor/nlp/tag.py
  chemdataextractor/parse/elements.py
  chemdataextractor/relex/snowball.py
  debug_document_level_bug.py
  debug_model_dependencies.py
  debug_models_inheritance.py
  document_hierarchy_diagram.md
  investigate_model_assignment.py
  model_scope_control_analysis.md
  position_tracking_prototype.py
  pre_abstract_restriction_implementation_plan.md
  restrict_compounds_before_abstract.py
  restrict_compounds_before_abstract_fixed.py
  scripts/examples/batch_extract_papers.py
  scripts/examples/extract_rsc_configurable.py
  test_actual_extraction.py
  test_restriction_debug.py
Due: vulture, radon-complexity

feat: implement three-tier pre-abstract restriction system and pytest optimizations
  chemdataextractor/biblio/person.py
  chemdataextractor/doc/document.py
  chemdataextractor/parse/apparatus.py
  debug_model_dependencies.py
  debug_models_inheritance.py
  person_name_refactoring_plan.md
  person_name_refactoring_summary.md
  pytest-fast.ini
  quick-test
  restrict_compounds_before_abstract.py
  restrict_compounds_before_abstract_fixed.py
  test-fast.py
  test-no-bert.py
  test_h2o_bug_fix_verification.py
  test_real_world_h2o_bug.py
  test_restriction_debug.py
  tests/test_extract.py
  tests/test_model_contextual_range.py
  tests/test_parse_cem.py
  tests/test_person_name_refactoring.py
Due: vulture, radon-complexity, pytest-coverage
